@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css";
.body-font {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: 400;
  line-height: 1;
  color: #444;
}
h1,
.h1,
h2,
.h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
.text-highlight {
  color: #00bfa5;
}
.text-alert {
  color: #ffca28;
}
p {
  margin-bottom: 20px;
}
p:last-of-type {
  margin-bottom: 40px;
}
sup {
  font-size: 50%;
  top: -0.7em;
}
a {
  color: #444;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover,
a:focus {
  color: #00bfa5;
}
html {
  height: 100%;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #f7f7f7;
}
a:hover,
a:focus {
  text-decoration: none;
}
#index .header {
  text-align: center;
}
.header {
  background: #00bfa5;
  color: #fff9e6;
  padding-bottom: 60px;
  padding-top: 100px;
  font-size: 18px;
}
.header .hero {
  color: #fff9e6;
  font-weight: 600;
}
.header .hero .btn-group {
  vertical-align: bottom;
}
.header .hero .inline-dropdown {
  background: transparent;
  font-size: inherit;
  color: inherit;
  padding: 0 15px;
}
.header .hero .inline-dropdown label {
  border-bottom: 1px dashed #fff9e6;
  margin: 0 10px 0 0;
  cursor: pointer;
}
#introduction {
  background: #eeeeee;
  padding: 40px 0;
}
#footer {
  background: #00bfa5;
  color: #fff9e6;
  padding: 30px 0 25px;
  font-size: 16px;
}
#footer ul {
  margin: 0 0 20px;
  padding: 0;
}
#footer li {
  padding-right: 40px;
}
#footer li a {
  color: #fff9e6;
}
#footer li a:hover {
  text-decoration: none;
}
#footer li:last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  #footer li {
    display: block;
    padding-right: 0;
    margin-bottom: 15px;
  }
}
.panel-pricing .panel-body {
  min-height: 180px;
  position: relative;
}
.panel-pricing .panel-body .terms {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 12px;
  margin-top: 20px;
}
.panel-pricing .panel-body .normal-price label {
  font-size: 24px;
  opacity: 0.8;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-weight: 400;
}
.panel-pricing .panel-body .normal-price label:after {
  content: "";
  position: absolute;
  left: -3px;
  right: -3px;
  top: 3px;
  bottom: 0;
  border-top: 2px solid #ffca28;
  width: 110%;
  transform: rotate(15deg);
  transform-origin: 0% 0%;
}
.panel-pricing .panel-body .promo-price {
  font-size: 48px;
  margin-top: 5px;
  color: #000;
}
.form-section {
  background: #f7f7f7;
  padding: 20px 15px;
  border-left: 4px solid #00bfa5;
  margin-bottom: 40px;
}
.form-section .section-heading {
  font-size: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
  line-height: 1.3;
}
.form-section .section-heading small {
  color: #ffca28;
  font-style: italic;
  font-size: 80%;
  text-transform: none;
}
.form-section .section-sub-heading {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
}
.category-options {
  margin-bottom: 20px;
}
.category-options label {
  border: 1px solid #fff9e6;
  text-align: center;
  padding: 8px 10px 5px;
  color: #fff9e6;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.category-options label:hover,
.category-options label:focus {
  background: rgba(255, 249, 230, 0.3);
}
.category-options label .icon-holder {
  display: block;
  height: 40px;
  margin: 0 auto 6px;
  width: 100%;
}
.category-options label .icon-holder img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
.category-options label input[type="radio"] {
  visibility: hidden;
}
.category-options label.checked {
  background: #fff9e6;
  color: #00bfa5;
}
#main-search .bootstrap-select {
  width: 30vw;
  max-width: 100%;
  min-width: 300px;
}
#main-search .form-select {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
#main-search .form-select span {
  line-height: 40px;
}
.separator-text {
  text-align: center;
  margin: 20px auto;
}
.separator-text span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.separator-text span::before,
.separator-text span::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 70px;
  border-top: 1px solid #fff9e6;
}
.separator-text span:before {
  right: 100%;
  margin-right: 15px;
}
.separator-text span:after {
  left: 100%;
  margin-left: 15px;
}
.listing {
  margin-bottom: 100px;
}
.listing .item-card {
  background: white;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.listing .item-card .row {
  margin: 0;
}
.listing .item-card .row div[class^="col"] {
  padding: 15px 0;
}
.listing .item-card a:hover,
.listing .item-card a:focus {
  text-decoration: none;
  color: inherit;
}
.listing .item-card a:hover h2,
.listing .item-card a:focus h2 {
  color: #00bfa5;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.listing .item-card .prod-img {
  padding: 10px;
}
@media (max-width: 991px) {
  .listing .item-card .prod-img {
    height: 20vw;
    min-height: 200px;
  }
}
.listing .item-card .prod-img .img-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 95%;
  max-width: 90%;
}
@media (max-width: 991px) {
  .listing .item-card .main-intro {
    padding: 15px !important;
    text-align: center;
  }
}
.listing .item-card .main-intro h2 {
  font-size: 18px;
  margin: 0 ;
}
.listing .item-card .main-feature {
  text-align: center;
}
.listing .item-card .main-feature label {
  color: #b3b3b3;
  font-size: 14px;
}
.listing .item-card .main-feature figure {
  font-size: 24px;
  font-weight: 600;
}
@media (min-width: 992px) {
  .listing .item-card .main-feature figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.listing .item-card .main-cta {
  background-color: #ffca28;
  text-align: center;
  cursor: pointer;
  min-height: 140px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.listing .item-card .main-cta:hover,
.listing .item-card .main-cta:focus {
  background-color: #ffd75b;
}
.listing .item-card .main-cta label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .listing .item-card .main-cta {
    min-height: 60px;
  }
}
@media (min-width: 992px) {
  .listing .item-card {
    height: 180px;
  }
  .listing .item-card .prod-img,
  .listing .item-card .main-feature,
  .listing .item-card .main-intro,
  .listing .item-card .main-cta {
    height: 180px;
  }
}
@media (max-width: 991px) {
  .listing .item-card .prod-img,
  .listing .item-card .main-feature,
  .listing .item-card .main-intro {
    height: 100px;
  }
}
/****Header******/
header .logo {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header nav {
  display: none;
}
.hamburger {
  float: right;
  font-size: 36px;
  padding: 15px;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}
.hamburger {
  color: #00bfa5;
  padding: 15px;
}
@media (min-width: 1200px) {
  header nav {
    display: inline-block;
  }
  header nav li {
    list-style: none;
    display: inline-block;
  }
  header nav li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff9e6;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
  }
  header nav li.active > a,
  header nav li.active > a:hover,
  header nav li.active > a:focus {
    border-bottom: 3px solid #00bfa5;
    color: #fff9e6;
  }
  header nav li a:hover,
  header nav li a:focus {
    border-bottom: 1px solid #00bfa5;
    color: #fff9e6;
  }
  header .cbp-af-header {
    border-bottom: 1px solid #fff9e6;
  }
  header .cbp-af-header nav li.active > a,
  header .cbp-af-header nav li.active > a:hover,
  header .cbp-af-header nav li.active > a:focus,
  header .cbp-af-header nav li a:hover,
  header .cbp-af-header nav li a:focus {
    border-bottom-color: #00bfa5;
  }
  header .dropdown-menu {
    border-radius: 0;
    padding: 0;
  }
  header .dropdown-menu li {
    display: block;
  }
  header .dropdown-menu li a {
    color: black;
    padding: 5px 15px;
    line-height: 40px !important;
    border-bottom-color: transparent !important;
  }
  header .dropdown-menu li a:hover,
  header .dropdown-menu li a:focus,
  header .dropdown-menu li a:active {
    background: white;
    border-bottom-color: transparent !important;
  }
  .cbp-af-header nav li.active > a,
  .cbp-af-header nav li.active > a:hover,
  .cbp-af-header nav li.active > a:focus,
  .cbp-af-header nav li a:hover,
  .cbp-af-header nav li a:focus {
    border-bottom-color: #00bfa5;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 1199px) {
  .overlay .dropdown {
    height: auto !important;
  }
  .overlay .sub-menu {
    min-height: 20px;
    display: inline-block;
    width: 45%;
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 10px;
  }
  .overlay .sub-menu a {
    font-size: 14px !important;
  }
}
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00bfa5;
  z-index: 1000;
}
/* Overlay closing cross */
.overlay .overlay-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(14.28571429%);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.overlay ul li a {
  font-size: 24px;
  font-weight: 400;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0;
}
/* Effects */
.overlay-corner {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px) translateX(50px);
  transform: translateY(-50px) translateX(50px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}
.overlay-corner.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}
.overlay .dropdown-menu {
  display: none;
  background: transparent;
  box-shadow: none;
  border: 0;
  text-align: center;
  margin-top: 20px;
}
.overlay .dropdown-menu > li > a {
  white-space: normal;
}
.overlay .dropdown-menu > li > a:hover,
.overlay .dropdown-menu > li > a:focus {
  background: transparent;
}
.overlay .dropdown.open .dropdown-menu {
  display: block !important;
}
.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 90px;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cbp-af-header .logo {
  display: inline-block;
}
/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header .logo,
.cbp-af-header nav a {
  line-height: 90px;
}
.cbp-af-header .logo {
  margin: 0;
  float: left;
  display: block;
  max-height: 60px;
}
.cbp-af-header nav {
  float: right;
}
.cbp-af-header nav a {
  font-size: 16px;
}
/* Transitions and class for reduced height */
.cbp-af-header .logo,
.cbp-af-header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink {
  height: 70px;
  opacity: 1;
}
.cbp-af-header.cbp-af-header-shrink .logo,
.cbp-af-header.cbp-af-header-shrink nav a {
  line-height: 70px;
}
/* Example Media Queries */
@media screen and (max-width: 55em) {
  .cbp-af-header .cbp-af-inner {
    width: 100%;
  }
  .cbp-af-header .logo,
  .cbp-af-header nav {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .cbp-af-header .logo,
  .cbp-af-header nav a {
    line-height: 115px;
  }
  .cbp-af-header nav a {
    margin: 0 10px;
  }
  .cbp-af-header.cbp-af-header-shrink .logo,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 45px;
  }
  .cbp-af-header.cbp-af-header-shrink .logo {
    font-size: 2em;
  }
  .cbp-af-header.cbp-af-header-shrink nav a {
    font-size: 1em;
  }
}
@media screen and (max-width: 32.25em) {
  .cbp-af-header nav a {
    font-size: 1em;
  }
}
@media screen and (max-width: 24em) {
  .cbp-af-header nav a,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 1;
  }
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.transition {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
img {
  max-width: 100%;
}
.center-aligned {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-aligned {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.no-csstransform .center-aligned {
  position: absolute;
  top: 30%;
  left: 20%;
}
.no-csstransform .vertical-aligned {
  position: absolute;
  top: 30%;
}
hr {
  height: 2px;
  background: rgba(0, 191, 165, 0.4);
  margin: 15px 0;
  border: 0;
}
hr.space {
  background: transparent;
  border: 0;
  margin: 0;
  height: 30px;
}
hr.sm-space {
  border: 0;
  margin: 0;
  height: 15px;
  background: transparent;
}
hr.lg-space {
  border: 0;
  margin: 0;
  height: 60px;
  background: transparent;
}
.btn {
  background-color: #ffca28;
  color: #444;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 25px;
  border: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-xs {
  font-size: 14px;
  padding: 6px 15px;
}
.btn.btn-lg {
  font-size: 18px;
  padding: 10px 30px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  background-color: #ffd75b;
  outline: 0;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.65;
}
.btn-outlined {
  background-color: transparent;
  border-color: #fff9e6;
  color: #fff9e6;
}
.btn-outlined:hover,
.btn-outlined:focus,
.btn-outlined.focus {
  color: #00bfa5;
  background-color: #fff9e6;
  border-color: #00bfa5;
}
.btn-shout {
  background-color: #ffca28;
  border-color: transparent;
  color: #fff9e6;
}
.btn-shout:hover,
.btn-shout:focus,
.btn-shout.focus {
  color: #fff9e6;
  background-color: #f4b800;
  border-color: #ffca28;
}
.btn-icon i {
  margin-right: 5px;
  margin-left: -5px;
}
.btn-link {
  color: #ffca28;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.btn-link:hover,
.btn-link:focus {
  color: inherit;
  text-decoration: none;
}
.btn-secondary {
  background-color: #ffca28;
  color: #444;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 25px;
  border: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #00bfa5;
  border: 1px solid #00bfa5;
}
.btn-secondary.btn-xs {
  font-size: 14px;
  padding: 6px 15px;
}
.btn-secondary.btn-lg {
  font-size: 18px;
  padding: 10px 30px;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  background-color: #ffd75b;
  outline: 0;
}
.btn-secondary:active,
.btn-secondary.active {
  outline: 0;
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary {
  opacity: 0.65;
}
.btn-grey {
  background-color: #ffca28;
  color: #444;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 25px;
  border: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #eee;
  border: 1px solid #ddd;
  color: #777;
}
.btn-grey.btn-xs {
  font-size: 14px;
  padding: 6px 15px;
}
.btn-grey.btn-lg {
  font-size: 18px;
  padding: 10px 30px;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey.focus {
  background-color: #ffd75b;
  outline: 0;
}
.btn-grey:active,
.btn-grey.active {
  outline: 0;
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey {
  opacity: 0.65;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey.focus {
  color: #777;
  background-color: #ddd;
  border-color: #ccc;
}
@media (max-width: 767px) {
  .btn-grey.restart {
    display: block;
    margin-top: 20px;
    padding: 4px 10px;
    font-size: 16px;
  }
}
.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #00bfa5;
}
.panel {
  background-color: rgba(255, 249, 230, 0.4);
  border: 1px solid #00bfa5;
  border-radius: 0;
  box-shadow: none;
}
.panel-heading {
  border-bottom: 1px solid transparent;
  border-radius: 0;
  background-color: #00bfa5;
  color: #fff9e6;
}
form label {
  font-weight: 400;
}
form .form-group {
  margin-bottom: 20px;
}
form .form-group .narrow-right {
  padding-right: 0;
}
form .form-group .row .form-control-feedback {
  right: 15px;
}
form .form-control {
  border-radius: 4px;
  border-color: #dddddd;
  background: #fff9e6;
  box-shadow: none;
  font-size: 15px;
}
form .form-control:focus,
form .form-control:active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  border-color: rgba(0, 191, 165, 0.3);
  outline: 0;
}
form .input-group-addon {
  background-color: #fff9e6;
  border-radius: 0;
  border-width: 1px 0 1px 1px;
  border-color: #ddd;
  font-size: 15px;
}
form .input-group .form-control {
  border-left: 0;
}
form .form-select {
  border-radius: 4px;
  border-color: #dddddd;
  background: #fff9e6;
  box-shadow: none;
  height: 34px;
  line-height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  color: #444;
  border: 0;
}
form .form-select:focus,
form .form-select:active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  border-color: rgba(0, 191, 165, 0.3);
  outline: 0;
}
form .form-select span {
  line-height: 1.3;
}
form .form-select:hover,
form .form-select:focus,
form .form-select.focus {
  background: #fff9e6;
  color: #444;
}
.form-cta .right {
  text-align: right;
}
p.form-control-static {
  margin: 0;
}
textarea {
  resize: horizontal;
}
.has-success .form-control,
.has-error .form-control,
.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle,
.has-error .input-group-addon,
.has-success .input-group-addon,
.has-feedback .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #dddddd;
  padding-right: 20px;
  background: #fff9e6;
  color: inherit;
}
.has-success .form-control:focus,
.has-error .form-control:focus,
.error .bootstrap-select .dropdown-toggle:focus,
.has-error .bootstrap-select .dropdown-toggle:focus,
.has-error .input-group-addon:focus,
.has-success .input-group-addon:focus,
.has-feedback .form-control:focus,
.has-success .form-control:active,
.has-error .form-control:active,
.error .bootstrap-select .dropdown-toggle:active,
.has-error .bootstrap-select .dropdown-toggle:active,
.has-error .input-group-addon:active,
.has-success .input-group-addon:active,
.has-feedback .form-control:active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 191, 165, 0.5);
  border-color: rgba(0, 191, 165, 0.3);
}
.has-success .form-control-feedback,
.form-control-feedback.glyphicon-ok {
  display: none !important;
}
.has-error .form-control-feedback {
  color: #ffca28;
}
.help-block {
  font-size: 12px;
  color: #444;
}
.btn-delete {
  padding: 1px 10px;
  margin-left: 30px;
}
.table-hover > tbody > tr:hover {
  background-color: rgba(0, 191, 165, 0.1);
}

/*# sourceMappingURL=style.css.map */