.btn {
  background-color: @secondary-color;
  color: @default-color;
  font-size: @primary-font-size;
  border-radius: @border-radius;
  padding: 10px 25px;
  border: 0;
  .transition;

  &.btn-xs {
    font-size: @default-font-size;
    padding: 6px 15px;
  }

  &.btn-lg {
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 600;
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: lighten(@secondary-color, 10%);
    outline: 0;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: 0.65;
  }
}

.btn-outlined {
  background-color: transparent;
  border-color: @light-color;
  color: @light-color;

  &:hover,
  &:focus,
  &.focus {
    color: @primary-color;
    background-color: @light-color;
    border-color: @primary-color;
  }
}

.btn-shout {
  background-color: @secondary-color;
  border-color: transparent;
  color: @light-color;

  &:hover,
  &:focus,
  &.focus {
    color: @light-color;
    background-color: darken(@secondary-color, 10%);
    border-color: @secondary-color;
  }
}

.btn-icon {
    i {
      margin-right: 5px;
      margin-left: -5px;
    }
}


.btn-link {
  color: @secondary-color;
  .transition;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.btn-secondary {
  .btn;
  background-color: @primary-color;
  border: 1px solid @primary-color;
}

.btn-grey {
  .btn;
  background-color: #eee;
  border: 1px solid #ddd;
  color: #777;

  &:hover,
  &:focus,
  &.focus {
    color: #777;
    background-color: #ddd;
    border-color: #ccc;
  }

  @media (max-width: 767px){
    &.restart {
      display: block;
      margin-top: 20px;
      padding: 4px 10px;
      font-size: 16px;
    }
  }
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: @primary-color;
}
