form {

  label {
    font-weight: 400;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    background: #fff;
    box-shadow: none;
    font-size: @primary-font-size;
    height:40px;
    line-height: 40px;

    &:focus,
    &:active {
      box-shadow: none;
      border-color: @secondary-color;
      outline: 0;
    }
  }

  .input-group-addon {
    background-color: @light-color;
    border-radius: 0;
    border-width: 1px 0 1px 1px;
    border-color: #ddd;
    font-size: 15px;
  }

  .input-group .form-control {
    border-left: 0;
  }

  .form-select {
    .form-control;
    height: 34px;
    line-height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    color: @default-color;
    border: 0;
    span {
      line-height: 1.3;
    }

    &:hover,
    &:focus,
    &.focus {
      background: @light-color;
      color: @default-color;
    }
  }
}


.form-cta {
  .right {
    text-align: right;
  }
}

p.form-control-static {
  margin: 0;
}


textarea {
  resize: horizontal;
  height: auto !important;
  line-height: 1.2 !important;
}


.has-success .form-control,
.has-error .form-control,
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle,
.has-error .input-group-addon,
.has-success .input-group-addon,
.has-feedback .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #dddddd;
  padding-right: 20px;
  background: @light-color;
  color: inherit;

  &:focus,
  &:active {
    .form-shadow;
    border-color: fade(@primary-color, 30%);
  }
}

.has-success .form-control-feedback,
.form-control-feedback.glyphicon-ok {
  display: none !important;
}

.has-error .form-control-feedback {
  color: @secondary-color;
}

.help-block {
  font-size: 12px;
  color: @default-color;
}


.btn-delete {
  padding: 1px 10px;
  margin-left: 30px;
}

.table-hover {
  > tbody > tr:hover {
    background-color: fade(@primary-color, 10%);
  }
}
