html {
  height: 100%;
}

body {
  .body-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #f7f7f7;
}

a:hover, a:focus {
  text-decoration: none;
}

#index {
  .header {
    text-align: center;
  }
}

.header {
  background: @primary-color;
  color: @light-color;
  padding-bottom: 60px;
  padding-top: 100px;
  font-size: 18px;

  .hero {
    color: @light-color;
    font-weight: 600;
    @media (max-width: @screen-xs-max) {
      font-size: 24px;
    }

    .btn-group {
      vertical-align: bottom;
    }

    .inline-dropdown {
      background: transparent;
      font-size: inherit;
      color: inherit;
      padding: 0 15px;

      label {
        border-bottom: 1px dashed @light-color;
        margin: 0 10px 0 0;
        cursor: pointer;
      }
    }
  }
}

#introduction {
  background: #eeeeee;
  padding: 40px 0;
}

#footer {
  background: @primary-color;
  color: @light-color;
  padding: 30px 0 25px;
  font-size: @primary-font-size;

  ul {
    margin: 0 0 20px;
    padding: 0;
  }
  li {
    padding-right: 40px;
    a {
      color: @light-color;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: @screen-xs-max) {
      display: block;
      padding-right: 0;
      margin-bottom: 15px;
    }
  }

  .copyright {

  }
}


.panel-pricing {
  .panel-body {
    min-height: 180px;
    position: relative;

    .terms {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      font-size: 12px;
      margin-top: 20px;
    }

    .normal-price {
      label {
        font-size: 24px;
        opacity: 0.8;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        font-weight: 400;

        &:after {
          content:"";
          position:absolute;
          left:-3px;
          right:-3px;
          top:3px;
          bottom:0;
          border-top: 2px solid @secondary-color;
          width:110%;
          transform: rotate(15deg);
          transform-origin: 0% 0%;
        }
      }
    }

    .promo-price {
      font-size: 48px;
      margin-top: 5px;
      color: @dark-color;
    }
  }
}

.form-section {
  background: #f7f7f7;
  padding: 20px 15px;
  border-left: 4px solid @primary-color;
  margin-bottom: 40px;

  .section-heading {
    font-size: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    line-height: 1.3;

    small {
      .text-alert;
      font-style: italic;
      font-size: 80%;
      text-transform: none;
    }
  }

  .section-sub-heading {
    font-size: 17px;
    color: @dark-color;
    text-transform: uppercase;
  }
}

.category-options {
  margin-bottom: 20px;
  label {
    border: 1px solid @light-color;
    text-align: center;
    padding: 8px 10px 5px;
    color: @light-color;
    font-size: 18px;
    font-weight: bold;
    .transition;

    @media (max-width: @screen-sm-max) {
      margin-bottom: 10px;
    }

    &:hover, &:focus {
      background: fade(@light-color, 30%);
    }

    .icon-holder {
      img {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
      }
      display: block;
      height: 40px;
      margin: 0 auto 6px;
      width: 100%;
    }

    input[type="radio"]{
      visibility:hidden;
    }

    input[type="radio"]:checked {

    }

    &.checked {
      background: @light-color;
      color: @primary-color;
    }
  }
}


#main-search {
  .bootstrap-select {
    width: 30vw;
    max-width: 100%;
    min-width: 300px;
  }

  .form-select {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: @primary-font-size;
    font-weight: 600;

    span {
      line-height: 40px;
    }
  }
}

.separator-text {
  text-align: center;
  margin: 20px auto;

  span {
    position: relative;
    display: inline-block;
    font-size: @primary-font-size;
    font-weight: 600;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 10px;
      width: 70px;
      border-top: 1px solid @light-color;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}


.listing {
  margin-bottom: 100px;
  .item-card {
    background: white;
    .box-shadow;
    margin-bottom: 20px;
    .transition;

    .row {
      margin: 0;

      div[class^="col"] {
        padding: 15px 0;
      }
    }

    a {
      &:hover, &:focus {
        text-decoration: none;
        color: inherit;
        h2 {
          color: @primary-color;
          .transition
        }
      }
    }

    .prod-img {
      padding: 10px;
      @media (max-width: @screen-sm-max) {
        height: 20vw;
        min-height: 200px;
    }

      .img-holder {
        img {
          .center-aligned;
          max-height: 95%;
          max-width: 90%;
        }
      }
    }

    .main-intro {
      @media (max-width: @screen-sm-max) {
        padding: 15px !important;
        text-align: center;
      }

      h2 {
        font-size: 18px;
        margin:0 ;
      }
    }


    .main-feature {
      text-align: center;
      label {
        color: @faded-color;
        font-size: @default-font-size;
      }

      figure {
        font-size: 24px;
        font-weight: 600;
        @media (min-width: @screen-md-min){
          .center-aligned;
        }
      }
    }

    .main-cta {
      background-color: @secondary-color;
      text-align: center;
      cursor:pointer;
      min-height: 140px;
      .transition;

      &:hover, &:focus {
        background-color: lighten(@secondary-color, 10%);
      }

      label {
        cursor:pointer;
        .center-aligned;
      }

      @media (max-width: @screen-sm-max) {
        min-height: 60px;
      }
    }

    @media (min-width: @screen-md-min){
      height: 180px;
      .prod-img, .main-feature, .main-intro, .main-cta{
        height: 180px;
      }
    }

    @media (max-width: @screen-sm-max){
      .prod-img, .main-feature, .main-intro {
        height: 100px;
      }
    }
  }
}


.inner {
  .header {
    .img-holder {
      margin-top: 40px;
    }

    @media (max-width: @screen-xs-max){
      .img-holder, .hero, p {
        text-align: center;
      }
    }
  }

  .highlight-box {
    margin-top: -40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background: white;
    .box-shadow;
    border-radius: 4px;

    h3 {
      font-size: 24px;
      margin-top: 0;
    }

    .quick-feature {
      border-bottom: 1px solid @faded-color;
      margin-bottom: 20px;
    }

    .main-feature {
      padding: 20px 15px;
      text-align: center;
      border-right: 1px solid @faded-color;

      figure {
        font-size: 28px;
        font-weight: 600;
      }
    }

    .quick-review {
      padding: 0 15px;
    }

    .scores {
      li {
        margin-bottom: 10px;
      }
      label, .progress, figure {
        display: inline-block;
        vertical-align: top;
      }

      label {
        width: 15%;
      }

      .progress {
        width: 70%;
        margin-right: 3px;
      }

      figure {
        width: 13%;
        font-weight: 600;
        color: @primary-color;
      }

      @media (max-width: @screen-sm-max) {
        label {
          width: 30%;
        }
        figure {
          width: 25%;
        }
        .progress {
          width: 40%;
        }
      }
      @media (max-width: @screen-xs-max){
        margin-top: 20px;
      }
    }
  }

  .feature-listing {
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: @primary-color;
    }
  }

  .information-section {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}


.contact {
  font-size: 16px;

  i {
    font-size: 28px;
    color: @primary-color;
    display: block;
  }

  .icon-holder {
    width: 55px;
    float: left;
    padding: 0 15px;
  }

  .contact-line {
    margin-bottom: 15px;
  }
}
