.modal {
  .modal-header, .modal-footer {
    border: 0;
  }

  .modal-content {
    background: white;
    border-radius: 0;
    border: 0;
  }

  .modal-header {
    text-align: center;
    background: @primary-color;

    .modal-title{
      font-size: 24px;
      color: @light-color;
    }
  }
}
