/****Header******/
header .logo {
  display: block;
  .vertical-aligned;
}
header nav {
  display: none;
}

.hamburger {
  float: right;
  font-size: 36px;
  padding: 15px;
  color: white;
  .vertical-aligned;
  right: 15px;
}

.hamburger {
  color: white;
  padding: 15px;
}

@media (min-width: 1200px){
  header {
    nav {
      display: inline-block;
      li {
       list-style: none;
       display: inline-block;
       a {
         font-size: 13px;
         font-weight: 400;
         color: @light-color;
         padding: 10px 15px;
         border-bottom: 1px solid transparent;
       }

       &.active > a,
       &.active > a:hover,
       &.active > a:focus {
         border-bottom: 3px solid @primary-color;
         color: @light-color;
       }

       a:hover, a:focus {
         border-bottom: 1px solid @primary-color;
         color: @light-color;
       }
     }
    }

    .cbp-af-header {
      nav li {
        &.active > a,
        &.active > a:hover,
        &.active > a:focus,
        a:hover, a:focus {
          border-bottom-color: @primary-color;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      padding:0;
      li {
        display: block;

        a {
          color: black;
          padding: 5px 15px;
          line-height: 40px !important;
          border-bottom-color: transparent !important;

          &:hover, &:focus, &:active {
            background: white;
            border-bottom-color: transparent !important;
          }
        }
      }
    }
  }

  .cbp-af-header {
    nav li {
      &.active > a,
      &.active > a:hover,
      &.active > a:focus,
      a:hover, a:focus {
        border-bottom-color: @primary-color;
      }
    }
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 1199px){
  .overlay {

    .dropdown {
      height: auto !important;
    }

    .sub-menu {
      min-height: 20px;
      display: inline-block;
      width: 45%;
      margin-right: 10px;
      vertical-align: top;
      margin-bottom: 10px;

      a {
        font-size: 14px !important;
      }
    }
  }
}


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: @primary-color;
	z-index: 1000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 7);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 24px;
	font-weight: 400;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-corner {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-50px) translateX(50px);
	transform: translateY(-50px) translateX(50px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.overlay-corner.open {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}


.overlay .dropdown-menu {
  display: none;
  background: transparent;
  box-shadow: none;
  border:0;
  text-align: center;
  margin-top: 20px;

  > li > a {
    white-space: normal;

    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.overlay .dropdown.open {
  .dropdown-menu {
    display: block !important;
  }
}


.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	height: 90px;
	-webkit-transition: all 0.3;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  background: @primary-color;
  border-bottom: 1px solid @light-color;
}

.cbp-af-header .logo {
	display: inline-block;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header .logo,
.cbp-af-header nav a {
	line-height: 90px;
}

.cbp-af-header .logo {
	margin: 0;
	float: left;
	display: block;
	max-height: 60px;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	font-size: 16px;
}

/* Transitions and class for reduced height */
.cbp-af-header .logo,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink{
	height: 70px;
	opacity: 1;
}

.cbp-af-header.cbp-af-header-shrink .logo,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 70px;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header .logo,
	.cbp-af-header nav {
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header .logo,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink .logo,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink .logo {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
