// Base class
.panel {
  background-color: fade(@light-color, 40%);
  border: 1px solid @primary-color;
  border-radius: 0;
  box-shadow: none;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  border-radius: 0;
  background-color: @primary-color;
  color: @light-color;
}
