.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.transition {
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

img {
  max-width: 100%;
}

.center-aligned {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.vertical-aligned {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.no-csstransform .center-aligned {
  position: absolute;
  top: 30%;
  left: 20%;
}

.no-csstransform .vertical-aligned {
  position: absolute;
  top: 30%;
}

hr {
  height: 2px;
  background: fade(@primary-color, 40%);
  margin: 15px 0;
  border:0;
}

hr.space {
  background: transparent;
  border:0;
  margin:0;
  height: 30px;
}

hr.sm-space {
  border:0;
  margin:0;
  height: 15px;
  background: transparent;
}

hr.lg-space {
  border:0;
  margin:0;
  height: 60px;
  background: transparent;
}

.box-shadow (@shadow-color: #000000){
  -webkit-box-shadow: 1px 1px 3px 0px fade(@shadow-color, 20%);
  -moz-box-shadow: 1px 1px 3px 0px fade(@shadow-color, 20%);
  box-shadow: 1px 1px 3px 0px fade(@shadow-color, 20%);
}

.form-shadow (@shadow-color: @primary-color){
  -webkit-box-shadow: 0px 0px 5px 0px fade(@shadow-color, 50%);
  -moz-box-shadow: 0px 0px 5px 0px fade(@shadow-color, 50%);
  box-shadow: 0px 0px 5px 0px fade(@shadow-color, 50%);
}
