.body-font {
  font-family: @default-font;
  font-size: @default-font-size;
  color: @default-color;
  line-height: @default-line-height;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @default-font;
  font-weight: @heading-font-weight;
  line-height: @heading-line-height;
  color: @dark-color;

  small,
  .small {
    font-weight: 400;
    line-height: 1;
    color: @default-color;
  }
}

h1, .h1, h2, .h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 30px;
}

.text-highlight {
  color: @primary-color;
}

.text-alert {
  color: @secondary-color;
}


p {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 40px;
  }
}


sup {
  font-size: 50%;
  top: -0.7em;
}


a {
  color: @default-color;
  .transition;

  &:hover,
  &:focus {
    color: @primary-color;
  }
}

.lined-heading {
  &:after {
    height:4px;
    background: @primary-color;
    width: 70px;
    content: "";
  }
}
