/// Typography
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@default-font:        "Lato", Helvetica, Arial, sans-serif;
@default-font-size:   14px;
@default-line-height: 1.4;
@heading-font-weight: 400;
@heading-line-height: 1.6;
@primary-font-size:   16px;

/// Colors
@default-color:   #444; //grey
@primary-color:   #00bfa5; //turquoise
@secondary-color: #ffca28; //yellow
@faded-color:     #b3b3b3; //light-grey
@dark-color:      #000;
@light-color:     #fff9e6;


/// Screen / Device
// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-sm-max:              calc(@screen-md - 1px);
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);



/// Styling
@border-radius:   4px;
